#about-page {
    margin: 50px 0;
}

.about-page-content {
    display: flex;
    flex-direction: column;
}

.about-page-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-page-p {
    margin: 30px 0;
    width: 70%;
}

/* CARDS */
.about-page-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 30px 0;
}

.about-page-cards {
    margin-top: 30px;
}

.about-card-img {
    height: 60px;
    width: 60px;
}

.about-card-h3 {
    margin: 10px 0 20px 0;
}

