#about-page {
    height: 70vh;
    display: flex;
}

.about-page-content {
    display: flex;
    flex-direction: column;
}

.about-page-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-page-p {
    margin: 30px 0;
    width: 70%;
}

/* CARDS */
.about-page-cards {
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px auto 0 auto;
    text-align: center;
}

.about-card-img {
    height: 60px;
    width: 60px;
}

.about-card-h3 {
    margin: 10px 0 20px 0;
}

