/* Tablet */
@media screen and (max-width: 1000px) {
/* Mobile NAV */
    .nav-links {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        
        background-color: $dark;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translatex(-100%);
        transition: transform 0.4s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        z-index: 999;
    }

    .nav-active {
        transform: translatex(0%);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    //HERO SECTION

    #hero-section {
        height: auto;
        padding: 40px 0;
    }

    //SERVICES SECTION

    .services-cards {
        flex-direction: column;
    }

    .card-img {
        height: 5px;
    }

    //ABOUT SECTION

    .about-right {
        img {
            height: 400px;
        }
    }

    /**************** 
        ABOUT PAGE
    *****************/
    .about-page-headings {
        text-align: center;
    }

    .about-page-p {
        width: 100%;
    }

    .about-page-cards {
        flex-direction: column;
        text-align: center;
    }

    .about-card {
        margin: 20px 0;
    }

    /**************** 
      SERVICES PAGE
    *****************/
    .services-page-cards {
        flex-direction: column;
    }
}

/* MOBILE */
@media screen and (max-width: 760px) {
    /* Info Section */
    .info-p {
        font-size: 0.9rem;
    }

    /* Navigation */
    .nav-logo img {
        width: 40%;
     }

     /* Hero */
     .hero-content {
         width: 100%;
     }

     /* About */
     .about-content {
         flex-direction: column;
     }

     .about-left {
         width: 100%;
     }

     .headings-container {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .about-btn {
         width: 50%;
     }

     .about-right {
         margin-top: 30px;
        width: 100%;
    }

    /* Footer */
    .footer-logo {
        width: 30%;
    }

    /**************** 
      SERVICES PAGE
    *****************/
    .as-content {
        flex-direction: column;
    }

    .services-right, .services-left {
        width: 100%;
    }

    .service-btn {
        width: 50%;
    }

    .services-right {
        margin-top: 30px;
        align-items: flex-start;
    }

    /**************** 
       Contact PAGE
    *****************/
    .contact-page-content {
        flex-direction: column;
    }

    .form-wrapper {
        margin-top: 30px;
    }
}   